
<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<div class="result-container">
    <h3>Result</h3>
    <div><b>Roll No: </b><%= student.rollno %></div>
    <div><b>Name: </b><%= student.name %></div>
    <div><b>Date of Birth: </b><%= student.dateOfBirth %></div>
    <div><b>Score: </b><%= student.score %></div>
</div>
    
    

<!-- include header -->
<%- include('include/_footer')%>
<!-- /include header -->
